{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip

	handle_path /uploads/* {
		root * /srv/uploads
		file_server
	}

	reverse_proxy frontend:3000
}

{$API_DOMAIN} {
	encode zstd gzip

	handle_path /uploads/* {
		root * /srv/uploads
		file_server
	}

	reverse_proxy api:8080
}
